.App {
  font-family: sans-serif;
  text-align: center;
}

.navbar{
  background-color: rgb(165, 25, 71);
}

.nav-title{
  color: white;
}
.btn{
  background-color:  rgb(165, 25, 71);
}

a {
  color: white;
  text-decoration: none;
}
